
section.jumbotron.text-center{
    margin-top:60px;
}

.banner {
    background: url("../images/dodge-banner.jpg") no-repeat center;
}

#dodge-logo {
    height: 60px;
}

.fa-shopping-cart,
.fa-car {
    color: white;
}

.fa-shopping-cart:hover,
.fa-car:hover {
    color: red;
}

.heading {
    margin: 10px 0;
    text-align: left;
}

.jumbotron-heading-titel {
  color: white;
    text-shadow: 1px 1px #000000;
}

.lead.text-muted {
    color: red !important;
    text-shadow: 1px 1px #000000;
}

.cars-list-titel {
    margin: 0 0 40px 0;
}

hr.front {
    margin: 10px 0 15px 0;
}

button {
    margin: 10px 2px 0 0;
}

a:hover {
    text-decoration:none;
}

a.site-link {
    color: red;
}

a.top {
    color: red;
}

.space-between {

    margin: 10px 0;
}


.btn.btn-primary.add.front,
.btn.btn-info.filter.front {

    margin: 0 0 28px 0;
}


.titelnaam.detail {
    margin: 0 0 20px 0;
    color: darkred;
    text-shadow: 1px 1px  #999999;
}

.titelnaam.front {
    margin: 10px 0 10px 15px;
    color: darkred;
    text-shadow: 1px 1px  #999999;
}

.car-body {
    margin: 51px 0 0 0;
}

.cta {
    color: green;
    font-weight: bold;
}

.ctw {
    color: lightgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.ctr {
    color: darkred;
    font-weight: bold;
}

.add-form,
.edit-form {

    padding: 20px 0 30px 0;
}

.add-legend,
.add-categorie,
.edit-legend,
.edit-categorie{

    margin: 20px 0;
}

.add-submit,
.edit-submit {

    margin: 0 0 20px 0;
}

.card.mb-4.box-shadow.front {

    width: 20rem;
}

.card-img-top.front {

    padding: 0 5px;
}

.car-image.detail {
    width: 95%;
    height: auto;
    margin: 0 15px 0 0;
}

.car-prijs.front,
.car-prijs.detail{
    margin: 10px 0 0 0;
}

.car-btwtarief.detail {
    margin: 5px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #000000;
}

.car-volprijs.detail {
    margin: 10px 0 8px 0;
}

.car-stock.detail{
    border-bottom: 2px dotted #000000;
    margin: 15px 0 25px 0;
    padding: 10px 0 20px 0;
}

.car-omschrijving.detail{
    padding: 10px 0 25px 0;
    border-bottom: 2px dotted #000000;
}

.rating.detail {

    margin: 20px 0 0 0;
}

.reviews.detail {
    padding: 10px 0 10px 0;
    margin: 0 0 5px 0;
    border-bottom: 2px solid #000000;
}

.reviews-amount {

    font-size: 15px;
}

.reviews {
    margin: 10px 0 0 0;
}

.starWrapper label {
    margin: 12px 0 10px 0;
}

.promo {
    margin: 0 0 15px 0;
}

.order-amount {
    margin: -4px 0 0 0;
}

.order-refresh {
    margin: -4px 0 0 0;
}

.order-delete {
    margin: -3px 0 0 0;
}

.billing {
    margin: 35px 0 0 0;
    padding: 30px 0 0 0;
    border-top: 2px dotted #000000;
}
.cancel {
    width: 100%;
    margin: 0 0 40px 0;
    padding: 9px 0;
    font-size: 20px;
}

tr.bg-dark {
    color: white;
}

.order-form {

    padding: 20px 0 30px 0;
}

.lead.text-foot {
    color: white !important;
}

footer {
    padding: 40px;
    background: #333333;
    line-height: 20px;
}


/*star rating*/
.checked {
    color: orange;
}








/****** Style Star Rating Widget *****/

.starWrapper {
    border: none;
    float: left;
}

.starWrapper > input { display: none; }
.starWrapper > label:before {
    margin: 10px 5px;
    font-size: 2em;
    font-family: FontAwesome, Arial, Helvetica, sans-serif;
    display: inline-block;
    content: "\f005";
}

.starWrapper > label {
    color: #222529;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.starWrapper > input:checked ~ label, /* show gold star when clicked */
.starWrapper:not(:checked) > label:hover, /* hover current star */
.starWrapper:not(:checked) > label:hover ~ label { color: #F2A83B;  } /* hover previous stars in list */

.starWrapper > input:checked + label:hover, /* hover current star when changing rating */
.starWrapper > input:checked ~ label:hover,
.starWrapper > label:hover ~ input:checked ~ label, /* lighten current selection */
.starWrapper > input:checked ~ label:hover ~ label { color: #FFED85;  }